<!-- HEAD -->
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-6">
            <img src="~/Images/FFW_Mauern_Logo.jpg" height="125" style="float: left; margin-right: 10px;" />
            Freiwillige Feuerwehr <br />Mauern
        </div>
        <div class="col-md-6" style="text-align: right;">
            <img src="~/Images/G5_Logo.png" width="260" style="margin-right: 20px; margin-top: 10px;" />
        </div>
    </div>
</div>

<div class="jumbotron" id="clock">
    <div id="time"></div>
    <div id="date"></div>
</div>

<!-- FOOTER -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            Wetter <span id="city"></span>: <div id="weather" class="row"></div>
        </div>
        <!--
        <div class="col-md-4">
            Info:
            <div class="infoText">
                <ul>
                    <li>Test</li>
                </ul>
            </div>
        </div>
        -->
        <div class="col-md-6">Nächsten Veranstaltungen:<table class="table table-striped cal-content"></div>
    </div>
</div>